<section class="user-details">
	<div class="row">
		<div class="col m8 offset-m2 s12">
		<img *ngIf="user" src="{{user.avatar}}">
			<app-user-form
				[user]="user"
				(userSubmitted)="onFormSubmit($event)">
			</app-user-form>
		</div>
	</div>
</section>
