<form novalidate [formGroup]="userForm">
	<div class="row">
		<div class="input-field col s12 m6">
			<i class="material-icons prefix">account_circle</i>
			<input id="name" type="text" class="validate" placeholder="Enter a name" formControlName="name">
			<div *ngIf="formErrors.name" class="">{{formErrors.name}}</div>
		</div>
		<div class="input-field col s12 m6">
			<i class="material-icons prefix">account_circle</i>
			<input id="icon_prefix" type="text" class="validate" placeholder="Enter a surname" formControlName="surname">
			<div *ngIf="formErrors.surname">{{formErrors.surname}}</div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m6">
			<i class="material-icons prefix">email</i>
			<input id="icon_prefix" type="text" class="validate" placeholder="Enter a email" formControlName="email">
			<div *ngIf="formErrors.email">{{formErrors.email}}</div>
		</div>
		<div class="input-field col s12 m6">
			<i class="material-icons prefix">phone</i>
			<input id="icon_telephone" type="text" class="validate" placeholder="Enter a phone" formControlName="phone">
			<div *ngIf="formErrors.phone">{{formErrors.phone}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m12 l12">
			<i class="material-icons prefix">supervisor_account</i>
			<input name="gender" type="radio" id="male" formControlName="gender" value="{{Gender.MALE}}"/>
			<label for="male">Male</label>
			<input name="gender" type="radio" id="female" formControlName="gender" value="{{Gender.FEMALE}}"/>
			<label for="female">Female</label>
			<div *ngIf="userForm.controls.gender.invalid && userForm.touched">{{validationMesagess.gender.required}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col push-m5 push-s5 push-l5">
			<button type="submit" class="center-align waves-effect waves-light btn"[disabled]="userForm.invalid" (click)="onSubmit(userForm)">Submit</button>
		</div>
	</div>
</form>
