<div class="popup">
	<h5 class="center-align">Are you sure?</h5>
	<button type="button" md-button md-raised-button class="red" (click)="dialogRef.close(true)">Yes</button>
	<button type="button" md-raised-button (click)="dialogRef.close(false)">No</button>	
</div> 