<div class="row">
	<form class="col s12">
		<div class="row">
			<div class="input-field card search-box">
				<input #input id="search" type="text" placeholder="Type name e.g John" (input)="update.emit(input.value)">
				<i class="material-icons">search</i>
			</div>
		</div>
	</form>
</div>