.search-box {
    overflow: hidden;
    
    .material-icons {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    
    #search {
        display: block;
        position:relative;
        font-size: 16px;
        font-weight: 300;
        width: 100%;
        height: 45px;
        margin: 0;
        padding: 0 45px 0 15px;
        transition: all .25s ease;
        border: 0;
    }
}