 <li class="collection-item avatar hoverable" [class.active]="isActive">
 	<div class="content" (click)="onSelect(item)">
 		<img src="{{image}}" alt="" class="circle">
 		<span class="title truncate">{{title}}</span>
 		<p class="truncate">{{subtitle}}</p> 
 	</div>	
 	<a class="secondary-content" (click)="openDialog(item)"><i class="material-icons dp96 ">delete</i></a>
 </li>