$hover-color: #eafaf9;
$hover-background: #26a69a;

.collection-item {
	.content {
		width: 80%;
	}
	&:hover {
		background-color: $hover-background;
		color: $hover-color;
		cursor: pointer;
		.material-icons {
			color: $hover-color;
		}
	}
	&:last-child {
		border: 1px solid #e0e0e0 !important;
	}
}