<section class="users">
  <div class="row">
    <div class="col s12 m5 offset-m3">
      <app-search-box (update)="term = $event"></app-search-box>
    </div>
  </div>
  <app-collection class="row">
    <app-collection-item
      *ngFor="let user of users | search : search.keys : term | sort : sort.orders : sort.keys"
      class="col m6 s12"
      [item]="user"
      [title]="user[UserKeys.NAME]"
      [image]="user[UserKeys.AVATAR]"
      [subtitle]="user[UserKeys.SURNAME]"
      (onItemDeleted)="deleteUser($event)"
      (onItemSelected)="editUser($event)">
    </app-collection-item>
  </app-collection>
  <a class="btn-floating btn-large waves-effect waves-light red add-user" routerLink="/users/-1">
    <i class="material-icons">add</i>
  </a>
</section>
